/* input 에 화살표 지우기 */
.container input::-webkit-inner-spin-button {
	appearance: none; 
}

.container option, input, select, button {
	padding: 0;
	margin: 0;
	border: none;
	background-color: rgba(0, 0, 0, 0);
	width: 100%;
	height: 100%;
	outline: none;
}

.numberBox {
	/* display: flex; */
	border: .2rem solid white;
	/* background-color: var(--dark-brown); */
	background-color: rgba(0, 0, 0, 0);
	display: flex;
	align-items: center;
}

.numberBox input {
	width: 5rem;
	padding: 0 1em;
	border: none;
	background-color: rgba(0, 0, 0, 0);;
	
	text-align: center;
	color: var(--dark-brown);
}

.numberBox button {
	width: 5rem;
	padding: 1rem;
	border: none;
	color: white;
	background-color: rgba(0, 0, 0, 0);
}

.errorMsg {
	height: 1rem;
	padding: .5rem 0 0 0;
	color: brown;
	text-align: center;
	font-family: 'Nanum Myeongjo';
	font-size: .8em;
}

.people {
	display: flex;
	flex-direction: column;
	align-items: center;
	/* background-color: red; */
}

.table__row {
	display: flex;
	flex-direction: row;
	align-items: flex-end;
}

.table__id,
.table__name,
.table__idAndName,
.table__pay,
.table__checkbox,
.table__delButton {
	font-size: .8em;
	padding: .2rem;
	margin: 0;
	border: .1rem solid rgba(0, 0, 0, 0);
	height: 1rem;
}

.table__id {
	width: 2rem;
	text-align: center;
}

.table__name {
	width: 6rem;
	background-color: rgba(0, 0, 0, 0);
}

.table__pay {
	width: 5rem;
	justify-content: center;
}

.table__pay input {
	background-color: rgba(0, 0, 0, 0);
	width: 5rem;
}

.table__checkbox {
	width: 1.5rem;
}

.table__checkboxTag {
	text-align: right;
	writing-mode: vertical-lr;
	height: 5rem;
}

.table__delButton {
	width: 2rem;
	background-color: rgba(0, 0, 0, 0);
}

.whiteBox {
	border: .1rem solid white;
}

.payments {
	margin: 0;
	padding: 0;
}

.addButton {
	width: 2rem;
	height: 2rem;
	border-radius: 1rem;
	background-color: var(--dark-brown);
	margin: 1.5rem;

	color: white;
	font-size: 1.5rem;

	box-shadow:.2em .2em 0 0 white;
}