@import '../assets/fonts.css';

:root {
	--dark-brown: #4f311a;
	--light-brown: #e4d7c2;
}

.container {
	min-width: 10rem;
	padding: 10rem 0 0 0;

	display: flex;
	flex-direction: column;
	align-items: center;
}

/* input 에 화살표 지우기 */
.container input::-webkit-inner-spin-button {
	appearance: none; 
}

.container option, input, select, button {
	padding: 0;
	margin: 0;
	border: none;
	background-color: rgba(0, 0, 0, 0);
	width: 100%;
	height: 100%;
	outline: none;
}

.body__text {
	padding: .5rem 0;
	color: var(--dark-brown);
	text-align: center;
	font-family: 'Nanum Myeongjo';
	font-size: 1rem;
	line-height: 1.5em;
}

.logoImage {
	max-width: 200px;
	margin: 20px;
}

.navButton {
	width: 14em;
	padding: .8rem 2rem;
	margin: 20px 0;
	
	display: flex;
	justify-content: space-around;

	background-color: white;
	border: .4rem solid var(--dark-brown);
	box-shadow: 8px 8px 0px 0 var(--dark-brown);
}

.navButton__link {
	color: var(--dark-brown);
	font-size: 1.2em;
	font-family: "돋움", "Do Hyeon";
	text-align: center;
	text-decoration: none;
}